<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body class="bg-dark">
<section class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh">
        <div class="col-auto">
            <div class="alert alert-dark">
                {% if validlink %}
                <h1>Change password</h1>
                <br>
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="w-100 d-flex justify-content-center"><button type="submit" class="btn" style="background: #1b1d6d; color: #fff">Change password</button></div>
                </form>
                <br>
                <div class="w-100 d-flex justify-content-center"><a href="{% url 'login_' %}">login</a></div>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</body>
</html>