{% autoescape off %}
    This email was send to you because someone made a reset password request for {{ user.get_username }} BV-Timer account,
    if it wasn't you please ingore this message and contact us.

    To reset your password click the link below:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If click the link above doesn't work, please copy and paste URL in a new browser window instead.

    Sincerely,
    The BV-Timer Team
{% endautoescape %}