<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Done</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body class="bg-dark">
<section class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh">
        <div class="col-auto alert alert-dark">
            <div>
                <p>Your password has been set. You may go ahead and <a href="{% url 'login_' %}">log in</a> now.</p>
            </div>
        </div>
    </div>
</section>
<style>
    a {
        color: #000;
    }

    a:hover {
        color: #000;
    }
</style>
</body>
</html>