{% extends 'core/base.html' %}

{% block title %}Passwords Manager{% endblock %}

{% block content %}
<style>
    .alert-fixed {
        position: fixed;
        top: 2%;
        left: 2%;
        width: 50%
    }
</style>
    <section class="container" id="pm-app">
        <div class="row justify-content-center mt-3">
            <div class="col-6">
                <h2>Add new account to manager</h2>
                <form action="." method="POST">
                    {% csrf_token %}
                    <div>
                        <label class="form-label" for="id_website">Website</label>
                        <input class="form-control" type="text" id="id_website" name="website">
                    </div>
                    <div>
                        <label class="form-label" for="id_username">Username</label>
                        <input class="form-control" type="text" id="id_username" name="username">
                    </div>
                    <div>
                        <label class="form-label" for="id_password">Password</label>
                        <input class="form-control" type="password" id="id_password" name="password">
                    </div>
                    <button class="btn button-blue mt-3" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <table class="table table-striped table-light" style="text-align: center;">
                    <thead>
                        <tr>
                            <th class="button-blue">
                                Website Name
                            </th>
                            <th class="button-blue">
                                Username
                            </th>
                            <th class="button-blue">
                                Password
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td>
                                {{account.website_name}}
                            </td>

                            <td>
                                {{account.username}}
                            </td>
                    
                            <td>
                                <div class="btn btn btn-success" v-on:click="get_password({{account.id}})">Send to my email</div>
                            </td>
                        </tr>
                        <div class="row alert-fixed" v-if="showAlert === {{account.id}}">
                            <div class="col-6">
                                <div class="alert alert-success d-fixed">
                                    <p v-for="a in alert">[[a]]</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        const ProjectsApp = {
            data() {
                return {
                    showAlert: false,
                    alert: [],
                    alertTime: null,
                }
            },
            delimiters: ['[[',']]'],
            methods: {
                async get_password(id){
                    this.alert = []
                    const data = {
                        'pass_id': id
                    }
                    var response = await fetch('/api/get_password/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify(data)
                    })
                        var body = await response.json()
                        this.showAlert = id
                        if (body.message === 'success') {
                            this.alert.push('Successfully sent to your email!')
                            setTimeout(() => {
                                this.showAlert = false
                            }, 6000)
                        }

                },
            }
        }

    const app = Vue.createApp(ProjectsApp)
    app.mount('#pm-app')
    </script>
{% endblock %}