{%  extends 'core/base.html' %}

{% block title %}Members | {% endblock %}

{% block content %}
    <section class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <nav class="container-fluid" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'myaccount' %}">My account</a></li>
                    <li class="breadcrumb-item active">{{ team.title }}</li>
                </ol>
            </nav>
            <h1 class="display-5">Team {{ team.title }}</h1>
        </div>
        <div class="col-md-4">
            {% if request.user.userprofile.is_ceo %}
    <div class="row mt-5" id="inviteApp">
        <div class="col">
            <div class="alert alert-primary">
                <h4>Invite new members</h4>
                <div class="alert alert-danger" v-if="errors.length">
                    <p v-for="error in errors">[[error]]</p>
                </div>
                <form action="." method="post" v-on:submit="validateForm" novalidate>
                {% csrf_token %}
                    <label class="form-field">E-mail</label>
                    <input class="form-control" id="id_email" type="email" name="email" v-model="email">
                    <div class="form-check">
                        <input class="form-check-input" id="id_ceo" type="checkbox" name="ceo" value="True">
                        <label class="form-check-label">Admin account</label>
                    </div>
                    <div class="d-flex justify-content-end mt-1">
                        <button type="submit" class="btn btn-info">Invite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
        </div>
    </div>
        <div class="row d-flex justify-content-between">
        <hr>
        <h1 class="display-6">Members</h1>
            <div class="col-md-6">
                <div>
                    <div class="alert bg-dark">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr>
                                <th>
                                    <img style="width: 64px; height: 64px;" src="{{ member.userprofile.get_avatar }}" />
                                </th>
                                <th>
                                    <a href="{% url 'users_profile' member.id %}" class="text-light" style="text-decoration: none">{% firstof member.get_full_name member.username %}</a>
                                </th>
                                <th>
                                    {{ member.email }}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        <div class="col-md-4">
            <canvas id="myChart" width="200px" height="200px"></canvas>
        </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block script %}
    <script>
        const InviteApp = {
            data() {
                return {
                    email: '',
                    errors: []
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                validateForm(e) {
                    if (!this.validateEmail(this.email)) {
                        this.errors.push('Email address is not valid!')
                    }
                    if (this.errors.length) {
                        e.preventDefault()
                        return false
                    } else {
                        return true
                }
                },
                validateEmail(email) {
                    if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))
                {
                    return true
                }
                return false
                }
            }
        }
        Vue.createApp(InviteApp).mount('#inviteApp')
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ members_list|safe }},
                    datasets: [{
                        label: 'time',
                        data: {{ members_time|safe }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba( 0, 196, 39, 0.2)',
                            'rgba( 236, 45, 251, 0.2)',
                            'rgba( 202, 104, 22 , 0.2)',
                            'rgba( 22, 28, 202 , 0.2)',
                            'rgba(203, 34, 124 , 0.2)',
                            'rgba( 32, 179, 188  , 0.2)',
                            'rgba( 249, 249, 40 , 0.2)',
                            'rgba( 119, 249, 40 , 0.2)',
                            'rgba( 0, 140, 232 , 0.2)',
                            'rgba( 162, 162, 162  , 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba( 0, 196, 39, 1)',
                            'rgba( 236, 45, 251, 1)',
                            'rgba(202, 104, 22, 1)',
                            'rgba( 22, 28, 202, 1)',
                            'rgba( 203, 34, 124 , 1)',
                            'rgba( 32, 179, 188  , 1)',
                            'rgba( 249, 249, 40  , 1)',
                            'rgba( 119, 249, 40  , 1)',
                            'rgba(  0, 140, 232   , 1)',
                            'rgba( 162, 162, 162 , 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "#f8f9fa"
                        }
                    }
                }
            });
    </script>
{% endblock %}
