<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body class="bg-dark">
<section class="container" id="signup_app">
    <div class="row justify-content-center align-items-center" style="height: 100vh">
        <div class="col-md-6">
            <div class="alert alert-secondary">
                <h1 class="text-center">BV-TIMER</h1>
                <p class="text-center">Sign up</p>
                <div class="alert alert-danger" v-if="errors.length">
                    <p v-for="error in errors">[[error]]</p>
                </div>
                <form method="post" action=".?c={{ code }}" v-on:submit="validateForm" novalidate>
                    {% csrf_token %}
                    <div>
                        <label class="form-label" for="id_username">
                            Email
                        </label>
                        <input class="form-control" id="id_username" name="username" type="username" v-model="username">
                    </div>
                    <div>
                        <label class="form-label" for="id_password">
                            Eassword
                        </label>
                        <input class="form-control" id="id_password1" name="password1" type="password" v-model="password1">
                    </div>
                    <div>
                        <label class="form-label" for="id_password2">
                            Repeat Password
                        </label>
                        <input class="form-control" id="id_password2" name="password2" type="password" v-model="password2">
                    </div>
                    <ul>
                        <li v-if="password1.length < 8">Your password must contain at least 8 characters</li>
                        <li v-if="!isNaN(password1)">Your password can't be entirely numeric</li>
                    </ul>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary mt-1">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- VueJs -->
<script src="https://unpkg.com/vue@next"></script>
<!-- Scripts -->
<script>
    const SignupApp = {
        data() {
            return {
                username: '{{ email }}',
                password1: '',
                password2: '',
                errors: [],
            }
        },
        delimiters: ['[[',']]'],
        methods: {
            validateForm(e) {
                if (!this.validateEmail(this.username)) {
                    this.errors.push('Your e-mail address is not valid!')
                }
                if (this.password1 === '') {
                    this.errors.push('Password is missing!')
                }
                if(this.password1.length < 8) {
                    this.errors.push('Your password must be at least 8 characters')
                }
                if(!isNaN(this.password1)) {
                    this.errors.push('Your password can\' be entirely numeric ')
                }
                if(this.password1 !== this.password2) {
                    this.errors.push('Your passwords doesn\'t match')
                }
                if (this.errors.length) {
                    e.preventDefault()
                    return false
                } else {
                    return true
                }
            },
            validateEmail(email) {
                if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))
                {
                    return true
                }
                return false
            }
        }
    }

    Vue.createApp(SignupApp).mount('#signup_app')
</script>
</body>
</html>